{% extends 'base.html' %}
{% load humanize %}


{% block content %}
<div class="container"> 
    <div class="row border border-3 m-1">  

        <div>
            {% if stories %}
            {% for story in stories %}
             <p >  <a href="{% url 'detail' story.id %}" class="text-decoration-none"> {{story.title | title}}  </a>   <br>
              <small> <i class="bi bi-arrow-down-circle-fill"></i> {{story.votes.count }} point  | <i class="bi bi-alarm"></i> {{story.created_at | naturalday }}  | <i class="bi bi-person-circle"></i> <a href="{% url 'user_profile' story.created_by.profile.id %}">{{story.created_by | title}}</a>   | <i class="bi bi-chat-left-text"></i> <a href="">comment </a>  </small>
            </p> 
            <p>{{ story.text|truncatechars:80  }}</p>
             {% endfor %}
             {% else %}
             <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Opps!</h4>
                <p>No Post Available Yet!</p>
              
              </div>
              
              {% endif %}
        </div>
        
        
    </div>
    
 
</div>

{% endblock %}