{% extends 'base.html' %}
{% load humanize %}


{% block content %}
<div class="container"> 
    <div class="row border border-3 m-1">  

        <div>
            {% if stories %}
            {% for story in stories %}
             <p >  <a href="{% url 'detail' story.id %}" class="text-decoration-none"> {{story.title | title}}  </a>   <br>
              <small> <i class="bi bi-arrow-down-circle-fill"></i> {{story.votes.count }} point  | <i class="bi bi-alarm"></i> {{story.created_at | naturalday }}  | <i class="bi bi-person-circle"></i> <a href="{% url 'user_profile' story.created_by.profile.id %}">{{story.created_by | title}}</a>   | <i class="bi bi-chat-left-text"></i> <a href="">comment </a>  </small>
            </p> 
            <p>{{ story.text|truncatechars:80  }}</p>
             {% endfor %}
             {% else %}
             <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                <hr>
                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
              </div>
              
              {% endif %}
        </div>
        
        
    </div>
    
 
</div>

{% endblock %}