{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row  m-1">
        <div class="col-md-8 m-auto">
             <h3 class="text-center">Add Post </h3>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{for.title.id_for_lable}}" class="form-label">{{form.title.label}}</label>
                    {{form.title}}
                </div>
                <div class="mb-3">
                    <label for="{{for.url.id_for_lable}}" class="form-label">{{form.url.label}}</label>
                    {{form.url}}
               </div>
               <div class="mb-3">
                <label for="{{for.text.id_for_lable}}" class="form-label">{{form.text.label}}</label>
                {{form.text}}
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary"> <i class="bi bi-plus-square-dotted"></i> Add </button>
            </div>
            </form>
        </div>
    </div>

    
</div>
{% endblock %}