{% extends 'base.html' %}
{% load humanize %}


{% block content %}
<div class="container"> 
    <div class="row border border-3 m-1">  

        <p > {% if not story.has_voted %} <a class="text-decoration-none" href="{% url 'vote' story.id %}?redirect_page=detail">  <i class="bi bi-hand-thumbs-up"></i>  </a> 
        {% else %}
        <a class="text-decoration-none" href="{% url 'vote' story.id %}?redirect_page=detail">  <i class="bi bi-hand-thumbs-down"></i>  </a>
        {% endif %}
         {{story.title | title}}  <br>
            <small> <i class="bi bi-arrow-down-circle-fill"></i> {{story.votes.count }}  point  | <i class="bi bi-alarm"></i> {{story.created_at | naturalday }}  | <i class="bi bi-person-circle"></i>  <a href="#">{{story.created_by | title}}</a>   | <i class="bi bi-chat-left-text"></i> {{comments.count}} comment </small>
          </p> 
        <p>{{story.text}}
        
        </p>
        {% if request.user.is_authenticated %}
        <form action="." method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="comment">
         </form>
         {% else %}
         <div class="alert alert-success my-2" role="alert">
          Need to <a href="{% url 'login' %}">login</a> in to post comment 
        </div>
         {% endif %}
         
         <hr class="mt-5">
         <h4>Comments</h4>
         {% for comment in comments %}
           
           <div>
            <footer class="blocquote-footer"> <strong><i class="bi bi-person-circle"></i> {{comment.created_by|title}} </strong>  | <i class="bi bi-alarm"></i> {{comment.created_at | naturalday }}</footer>
            <p>{{ comment.text }}</p>
           
           </div>
         {% endfor %}
</div>

{% endblock %}